body {font-size: 12px}

.table-ex {
  margin-bottom: 0;
}

@media print {
  @page {
    size: auto;
    margin: 0;  
  }

  body, html {
    margin-top:0px;
    padding-top:0px;
  }

  .mes {
    page-break-after: always;
    padding-top: 40px;
  }
}
